body {
    margin: 0;
}

.card {
    width: 500px;
    height: fit-content;
    border: 3px solid black;
    border-radius: 25px;
    background-color: aliceblue;
    margin: 10px;
}

.imagem {
    width: 100px;
    border-radius: 50%;
}

.imagem img {
    width: 70%;
    height: 70%;
}

.titulo {
    font-size: 35px
}

.nomeA {
    color: rgb(152, 18, 112);
}

.mensagem {
    color: rgb(99, 13, 98);
    font-style: italic;
}